@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
.Anjana {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
}

.background-container {
  width: 100%;
  height: 100vh;
  background: url("./assets/images/Frame (1).png") no-repeat center center;
  background-size: 1920px 860px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav img {
  width: 167px;
  height: 32px;
}

.nav_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1320px;
  height: 88px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1320px;
  height: 88px;
  position: absolute;
  top: 0;
  padding: 0 20px;
}

.navbox1 {
  display: flex;
  align-items: center;
}
.navbox1 span {
  margin-left: 40px;
}
.navbox1 span:nth-of-type(1) {
  color: orange;
}

.navbox2 {
  display: flex;
  align-items: center;
}
.navbox2 span {
  margin-left: 30px;
}
.navbox2 button {
  width: 83.31px;
  height: 44px;
  font-family: Inter;
  font-size: 14.3px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  border-radius: 25px;
  margin-left: 20px;
  background-color: transparent;
}

section {
  width: 880px;
  height: 254px;
  margin-top: 100px;
}
section h1 {
  font-family: Inter;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  padding: 0px;
}

.searchform {
  width: 850px;
  height: 80px;
  padding: 10px;
  border-radius: 200px;
  background-color: #ffffff;
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.0509803922);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 768px;
  height: 60px;
  display: flex;
}
.form div {
  width: 249.33px;
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form .circle1 {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: rgba(235, 102, 43, 0.0509803922);
}

.circle {
  width: 62px;
  height: 60px;
  border-radius: 50%;
  background: #eb662b;
}

.info {
  width: 128.36px;
  height: 43.59px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}
.info span:nth-of-type(1) {
  font-size: 14.88px;
  font-weight: 500;
  color: #05073C;
}
.info span:nth-of-type(2) {
  font-size: 13.67px;
  font-weight: 400;
  color: #717171;
}

.date {
  width: 151.84px;
  height: 18px;
  font-size: 13.34px;
  font-weight: 400;
  color: rgb(0, 0, 0);
}


/* anjan start */
/* anjan end */
/* abhisek start */
/* abhisek end */
/* imran start */
.Container-imo {
  height: 730px;
  margin: auto;
  width: 100%;
  background-color: #05073c;
}

div.Main-imo {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  display: flex;
  color: white;
  margin: 12px;
}

div.side-imo {
  height: 510px;
  width: 1320px;
  margin-top: 115px;
  padding: 10px;
}

.container-imran {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.card-imo .card {
  position: relative;
  width: 300px;
  height: 400px;
  border-radius: 12px;
  overflow: hidden;
  /* border-radius: 8px; */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.card-imo .card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-imo .card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); Semi-transparent overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 140px;
  color: white; /* Text color */
  font-size: 18px; /* Text size */
}

.text {
  flex-direction: column;
  margin: 0;
  padding: 0;
  align-items: center;
  display: flex;
  justify-content: center;
}

.container-cust {
  height: 760px;
  width: 100%;
  margin: auto;
}

.cust_imo {
  height: 520px;
  width: 1320px;
  padding: 10px;
}

.Customer-image {
  display: flex;
  margin-top: 120px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text-imo {
  height: 98px;
  width: 848px;
  margin-top: 50px;
  flex-direction: column;
}

.ali-imo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-top: 50px;
  color: #05073c;
}

.container-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 140px;
}

.circle {
  width: 71px;
  height: 71px;
  overflow: hidden;
  border-radius: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-trav {
  height: 520px;
  width: 1320px;
  padding: 10px;
}

div.trav-imo {
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
  justify-content: space-between;
  display: flex;
  margin: 36px;
  color: black;
}

.container-cute {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  border-radius: 12px;
}

.card-cute {
  width: 400px;
  height: 300px;
  display: flex;
  border-radius: 12px;
  flex-direction: column;
}

.card img {
  width: 100%;
  border-radius: 12px;
  height: auto;
}

.text-row {
  flex-direction: row;
  margin-top: 10px;
  color: #05073c;
}/*# sourceMappingURL=styles.css.map */